{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors %}

{% block title %}
  Сброс пароля | LB
{% endblock %}

{% block body_attribs %}
  class="text-center"
{% endblock %}

{% block content %}
{% include "security/_messages.html" %}
<form class="form-signin" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
      <img class="mb-4" src="{{ url_for('static', filename='img/logo-black-512.png') }}" alt="" width="72" height="72">
  {{ reset_password_form.hidden_tag() }}
      <h1 class="h3 mb-3 font-weight-normal">Сброс пароля</h1>
      {% include "security/_messages.html" %}
  {{ render_field(reset_password_form.password, class='form-control', placeholder='Пароль', required=True, style='margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-top-left-radius: 0.25rem !important; border-top-right-radius: 0.25rem !important;') }}
  {{ render_field(reset_password_form.password_confirm, class='form-control', placeholder='Подтверждение', required=True) }}
      {{ render_field_errors(reset_password_form.csrf_token) }}
      {{ render_field_errors(reset_password_form.password) }}
      {{ render_field_errors(reset_password_form.password_confirm) }}
  {{ render_field(reset_password_form.submit, class='btn btn-lg btn-primary btn-block') }}
{% include "security/_menu.html" %}
</form>
{% endblock %}
